@import "./varables.scss";
.fullname__user {
  display: flex;
  gap: 10px;
}
.textbox {
  max-width: 650px;
  width: 100%;
  height: 100px;
  border: 1px solid $grey;
  margin-top: 10px;
  &:checked ~ .border {
    opacity: 1;
  }
}

.border {
  position: absolute;
  border: 1px solid $red;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
}
