@import "./varables.scss";
.finish {
  display: none;
  &__logo {
    margin-top: 50px;
  }

  &__title {
    font-style: normal;
    font-weight: 494;
    font-size: 50px;
    line-height: 56px;
    color: $blue;
    margin-top: 40px;
  }
  &__text {
    font-style: normal;
    font-weight: 375;
    font-size: 20px;
    line-height: 22px;
    color: $grey;
    margin-top: 10px;
  }
}
.sub__title {
  font-style: normal;
  font-weight: 494;
  font-size: 25px;
  line-height: 28px;
  color: $blue;
  margin-top: 40px;
}
.btn__finish {
  margin-top: 65px;
}
