@import "./varables.scss";

.steps {
  //.steps__form
  &__form {
  }

  //steps_numbers
  &__numbers {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 650px;
    margin-bottom: 60px;
  }
}
.progress {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: gray;
  z-index: -1;
  &__success {
  }
}

.step {
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 100px;
    border: 2px solid $lightgray;
    flex-shrink: 0;
    background: $white;
  }
  &__buttons {
    margin-top: 80px;
    gap: 20px;
    display: flex;
  }
}

.form {
  &__step {
    &.active {
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    display: flex;
    position: relative;
    max-width: 460px;
    background: $white;
    border: 1px solid $lightgray;
    &.search__input {
      margin-top: 40px;
    }
  }
}

.button {
}

.next {
  &__step {
  }
}
.input {
  padding: 20px 20px 20px 65px;
  width: 100%;
  outline: none;
  font-style: normal;
  font-weight: 375;
  font-size: 18px;
  line-height: 20px;
  color: $grey;
  &:focus {
    outline: 1px solid $red;
  }
  &__img {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.form {
  &__item {
    padding-top: 40px;
  }
  &__item-title {
    font-style: normal;
    font-weight: 494;
    font-size: 25px;
    line-height: 28px;
    color: $blue;
  }
}
