//Global scss-files imports
@import "./varables.scss";
@import "./reset";
@import "./global.scss";
@import "./font.scss";

//section or Pages scss-files imports
@import "./header.scss";
@import "./form.scss";
@import "./radio.scss";
@import "./chekbox.scss";
@import "./file.scss";
@import "./interests.scss";
@import "./finish.scss";
//import footer scss

//Libs

//iport libs/swiper
